[submodule "project/lib/vorbis"]
	path = project/lib/vorbis
	url = https://github.com/xiph/vorbis
	shallow = true
[submodule "project/lib/sdl"]
	path = project/lib/sdl
	url = https://github.com/libsdl-org/SDL
	shallow = true
[submodule "project/lib/openal"]
	path = project/lib/openal
	url = https://github.com/kcat/openal-soft
	shallow = true
[submodule "project/lib/ogg"]
	path = project/lib/ogg
	url = https://github.com/xiph/ogg
	shallow = true
[submodule "project/lib/zlib"]
	path = project/lib/zlib
	url = https://github.com/madler/zlib
	shallow = true
[submodule "project/lib/freetype"]
	path = project/lib/freetype
	url = https://github.com/freetype/freetype
	shallow = true
[submodule "project/lib/harfbuzz"]
	path = project/lib/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
	shallow = true
[submodule "project/lib/cairo"]
	path = project/lib/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
	shallow = true
[submodule "project/lib/pixman"]
	path = project/lib/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
	shallow = true
[submodule "project/lib/lzma"]
	path = project/lib/lzma
	url = https://github.com/openfl/liblzma
	shallow = true
[submodule "project/lib/efsw"]
	path = project/lib/efsw
	url = https://github.com/SpartanJ/efsw
	shallow = true
[submodule "project/lib/sdl_image"]
	path = project/lib/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
	shallow = true
[submodule "project/lib/opus"]
	path = project/lib/opus
	url = https://github.com/xiph/opus.git
	shallow = true
[submodule "project/lib/opusfile"]
	path = project/lib/opusfile
	url = https://github.com/xiph/opusfile.git
	shallow = true
[submodule "project/lib/dr_libs"]
	path = project/lib/dr_libs
	url = https://github.com/mackron/dr_libs.git
	shallow = true
